<template name="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GalaxyTraders</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    {{#if isInRole 'Administrator'}}{{> admindropdown}}{{/if}}
                    <li><a href="/rankings">Rankings</a></li>
                    <li><a href="/help">Help</a></li>
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>