<template name="galaxyMain">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GalaxyTraders</title>
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster:400,700,900'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cuprum:700italic' rel='stylesheet' type='text/css'>
    <link href='img/alienface.ico' rel="icon" type="image/x-icon">
</head>

<body>
    <!-- div id="wrap" for footer TOS that didn't work -->
        {{> nav}}
        {{>Template.dynamic template=content}}
        {{>Template.dynamic template=secondary}}
        <!-- div id="push"></div>
    <!/div -->
    {{! >footer_tos}}
</body>
</template>