body {
    padding-top: 50px;
    background-color:  #080808;
    color: #9d9d9d;
}

.navbar-header {
    padding-right: 100px;
}

.navbar-brand {
    font-size: x-large;
}

.starter-template {
    padding-top: 50px;
    color: 999999;
}

img#spaceship {
    margin-top: 50px;
    max-width: 80%;
    border-radius: 5%;
    opacity: 0.8;
}

.imgAndText {
    position: relative;
}

.imgAndText > .gamename {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 15%;
    /* font-size: 64pt; */
    font-size: 7vw;
    color: #660066;
    font-family: 'Cuprum', sans-serif;
    /* font-family: 'Lobster', cursive; */
    text-shadow: 0.01em 0.01em #ecb3ff;
    margin: 0;
    padding: 0;
    border: 0;
}

.gamename > p {
    padding: 0;
    margin: 0;
    border : 0;
}

#rankings {
    position: relative;
    padding-top: 20px;
    max-width: 1000px;
}

#rankings .score {
    padding-right: 5%;
}