body {
    padding-top: 50px;
    background-color:  #080808;
    color: #9d9d9d;
}

.navbar-header {
    padding-right: 100px;
}

.navbar-brand {
    font-size: x-large;
}

.starter-template {
    padding-top: 50px;
    color: 999999;
}