/* https://getbootstrap.com/2.3.2/examples/sticky-footer.html */
/* html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
/* } */

body {
    padding-top: 50px;
    background-color:  #080808;
    color: #9d9d9d;
}

/* Don't inherit padding-top from body */
body * {
    padding-top: 0px;
}

.navbar-header {
    padding-right: 100px;
}

.navbar-brand {
    font-size: x-large;
}

.starter-template {
    padding-top: 50px;
    color: 999999;
}

img#spaceship {
    margin-top: 50px;
    max-width: 80%;
    border-radius: 5%;
    opacity: 0.8;
}

.imgAndText {
    position: relative;
}

.imgAndText > .gamename {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 15%;
    /* font-size: 64pt; */
    font-size: 7vw;
    color: #660066;
    /* font-family: 'Cuprum', sans-serif; */
    font-family: 'Lobster', cursive;
    text-shadow: 0.01em 0.01em #ecb3ff;
    margin: 0;
    padding: 0;
    border: 0;
}

.gamename > p {
    padding: 0;
    margin: 0;
    border : 0;
}

#rankings {
    position: relative;
    padding-top: 50px;
    max-width: 1000px;
}

#rankings .score {
    padding-right: 5%;
}

/* TODO add styles for other alert levels: error, warning, info */
.s-alert-success.s-alert-effect-scale {
    background: #bada55;  /* your background color here */
    color: #fff  /* your text color here */
}


/* https://getbootstrap.com/2.3.2/examples/sticky-footer.html */
/* Wrapper for page content to push down footer */
/* #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    /* margin: 0 auto -60px;
} */

/* Set the fixed height of the footer here */
/* #push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
} */

/* Lastly, apply responsive CSS fixes as necessary */
/* @media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
} */